<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
        <title>This is Django Muse Page</title>
    </head>
    <body>
        <h1 class="color1">Hi, This's new project by FARIS MUHAMMAD IHSAN_1184099</h1>
        <h1 class="color2">This is a picture of Django</h1>
        <h2>Django was created in the fall of 2003</h2>
        <h3>Django is a lightweight and standalone web server dor development and testing</h3>
        <a href="https://www.djangoproject.com/">Now Lets Roll!</a>
                
        <img src="{% static 'images/winxp.jpg' %}" alt="Picture didn't show!"> 

        <!--{{insert_me}} -->
        
    </body>
</html>